# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# node files
node_modules

# environment files
browser-client/.env
node-client/.env

# intermediate files and folder for bundling and linting
*.eslintcache
.vite
dist
openAPI/example/esbuild/
